
.father{
width: 500px;
height: 200px;
margin: auto;
text-align: center;
background-color: rgb(238, 238, 238);
position: relative;
margin-top: 200px;
transition-duration: 0.5s;

}
.child{
    width: 400px;
    height: 50px;
    text-align: center;
   background-color:  rgb(204, 201, 201);
   line-height: 50px;
   position: absolute;
   margin-left: 10%;
   transition-duration: 1s;
   transition-delay: 0.5s;
   
 
}
.father:hover > .child {
    
    margin-top: 10%;
    
}
.father:hover {
    
    margin-top: 100px;  
}
