div{
    text-align: center;
}
.div1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 

}
.div2{
    font-family: 'Cairo', sans-serif;
    font-weight: 700;

}
.div3{
    font-family: 'Jomhuria', cursive ;
    font-weight: 400;
}